
<div class="row">
	<div class="col-sm-6">
		<ul >
		{% for pagina in 1..paginate.quantidadeDePaginas %}
			<li style="display:inline;" {% if (paginate.paginaAtual == pagina)%}class="paginaSelected" {% endif %}><a href="">{{pagina}}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="col-sm-6">
		{{paginate}} 
</div>

